* {margin: 0; padding: 0;} 
body, html {height: 100%;}
body {font-family: Arial; color: #252525;}

h1 {text-align: center; font: 50px/80px Arial; padding: 30px 0 10px;}




#subscribe {
	width: 700px; 
	margin: 0 auto; 
	padding: 20px 15px;
	background: #eee;
	position: relative;
	transition:all .5s; z-index: 10;
}
#subscribe h3 {
	font: 18px/30px Arial;
    position: absolute;
    right: 0;
    text-align: center;
    top: -30px;
    transition: all 0.5s ease 0s;
}
#subscribe input {
	height: 50px;
	font-size: 30px;
	width: 100%;
	text-align: center;
	transition:all .5s;
}
#subscribe.ready {background: #90EE90}

.mailived {background: url(../img/star-pibl.gif);}
.mailived #new {visibility: hidden;}
.mailived .post {border: none; color: #fff; text-shadow: 3px 3px 3px #000000;}
.mailived .time, .mailived .author {display: none;}

#subscribe.hide {width: 0px; padding: 20px 0; overflow: hidden;}

#subscribe.hide h3 {display: none;}
#subscribe.hide:after {display: none;}
#thanks {position: absolute; top: 155px; left: 50%; margin-left: -170px; width: 340px;}

#subscribe input::-ms-clear {
	display: none;
}



.s {opacity: 0; transition-timing-function: cubic-bezier(1, 0, 1, 0), linear;}
.wrap_s .s {opacity: 1}
.s20 {transition:opacity 0s;}
.s19 {transition:opacity 0.1s;}
.s18 {transition:opacity 0.2s;}
.s17 {transition:opacity 0.3s;}
.s16 {transition:opacity 0.4s;}
.s15 {transition:opacity 0.5s;}
.s14 {transition:opacity 0.6s;}
.s13 {transition:opacity 0.7s;}
.s12 {transition:opacity 0.8s;}
.s11 {transition:opacity 0.9s;}
.s10 {transition:opacity 1s;}
.s9 {transition:opacity 1.1s;}
.s8 {transition:opacity 1.2s;}
.s7 {transition:opacity 1.3s;}
.s6 {transition:opacity 1.4s;}
.s5 {transition:opacity 1.5s;}
.s4 {transition:opacity 1.6s;}
.s3 {transition:opacity 1.7s;}
.s2 {transition:opacity 1.8s;}
.s1 {transition:opacity 1.9s;}

#perception_stream {
	padding: 20px;
	width: 730px; 
	margin: 0 auto;
	transition:all 1.5s;
}


.post {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	font-size: 16px;
	position: relative;
}
.post:after {content: ''; clear: both; display: block;}
.time {
	position: absolute; right: 740px; font-size: 12px; color: #888; white-space: nowrap;
}

#input {
	border: none;
	font: 16px Arial;
	background: none;
	width: 60px;
	color: #777;
	outline: none;
}
.moz #input {
	position: relative;
	left: -1px;
}
#edit {background: #9cf}


.author {float: right;}
.author:before {content: '— ';}

.online {background: #ffc}


#online {
	position: fixed;
	top: 10px;
	left: 15px;
	text-align: center;
	line-height: 30px;
}

#end {display: none;}

#raskladka {
	position: fixed;
	bottom: 15px;
	right: 15px;
}